* {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  /* letter-spacing: -0.1em; */
}

body {
  padding-top: 2em;
}

/* --------------------------------------------- */

#div_vert .result {
  color: white;
  font-size: 350%;
  font-weight: 200;
  padding-top: 1em;
  margin-right: 0.2em;
  text-align: right;
}

.container_vert {
  background-color: black;
  /* display:block; */
  text-align: center;
  /* display: grid; */
  place-content: end;
  bottom: 0px;
  width: 215px;
  height: 420px;
  margin: auto;
  border-radius: 20px;
  padding: 0.3em;
  padding-bottom: 1.5em;
}

#div_vert button {
  height: 45px;
  width: 45px;
  font-size: 1.5em;
  background-color: rgb(46, 46, 46);
  border: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-radius: 50%;
  margin: 2px;
}

#div_vert .btn_number {
  color: white;
  transition: 0.4s;
}

#div_vert .btn_number:active {
  background-color: grey;
  transition: 0.05s;
}

#div_vert .btn_special {
  background-color: rgb(185, 177, 161);
  transition: 0.4s;
}

#div_vert .btn_special:active {
  background-color: lightgrey;
  transition: 0.05s;
}

#div_vert .btn_operator {
  background-color: #e78814;
  color: #fff;
  font-size: 1.7em;
  padding-bottom: 0.15em;
  transition: 0.4s;
}

#div_vert .btn_operator:active {
  background-color: #ecb36c;
  transition: 0.05s;
}

#div_vert #reset1 {
  font-size: 120%;
  font-weight: 500;
  color: black;
}

#div_vert #zero {
  width: 97%;
  border-radius: 100px;
  text-align: left;
  padding-left: 0.35em;
}

#div_vert #sign1 {
  font-size: 180%;
  padding-bottom: 0.2em;
}

#div_vert #percentage1 {
  font-size: 130%;
  font-weight: 600;
}

#div_vert #division {
  font-size: 200%;
  padding-bottom: 0.1em;
}

/* --------------------------------------------- */

#div_hori .result {
  color: white;
  font-size: 210%;
  font-weight: 300;
  padding-top: .25em;
  margin-right: 0.2em;
  text-align: right;
  padding-right: 0.3em;
}

.container_hori {
  background-color: black;
  display: block;
  text-align: center;
  display: grid;
  place-content: center;
  height: 215px;
  width: 420px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 20px;
  padding: 1.2em;
  padding-top: 0em;
  padding-bottom: .5em;
}

#div_hori button {
  height: 27px;
  width: 35px;
  font-size: .8em;
  font-weight: 300;
  background-color: rgb(46, 46, 46);
  border: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-radius: 20px;
  margin: .5px;
}

#div_hori .btn_number {
  color: white;
  transition: 0.4s;
}

#div_hori .btn_number:active {
  background-color: grey;
  transition: 0.05s;
}

#div_hori .btn_special {
  background-color: rgb(185, 177, 161);
  transition: 0.4s;
}

#div_hori .btn_special:active {
  background-color: lightgrey;
  transition: 0.05s;
}

#div_hori .btn_operator {
  background-color: #e78814;
  color: #fff;
  font-size: 1.2em;
  padding-bottom: 1em;
  transition: 0.4s;
  padding-left: .3em;
}

#div_hori .btn_operator:active {
  background-color: #ecb36c;
  transition: 0.05s;
}

#div_hori .btn_advance {
  color: white;
  background-color: rgb(34, 34, 34);
  font-size: .6em;
  transition: 0.4s;
}

#div_hori .btn_advance:active {
  background-color: grey;
  transition: 0.05s;
}

#div_hori #reset2 {
  font-size: 80%;
  font-weight: 500;
  color: black;
}

#div_hori #zero {
  width: 97%;
  border-radius: 100px;
  text-align: left;
  padding-left: 0.45em;
}

#div_hori #sign2 {
  font-size: 110%;
  padding-bottom: 0.2em;
}

#div_hori #percentage2 {
  font-size: 70%;
  font-weight: 600;
}

#div_hori #division {
  font-size: 130%;
}

.home1 {
  width: 70px;
  height: 3px;
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: -15px;
  bottom: 0;
}

.home2 {
  width: 115px;
  height: 3px;
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  bottom: 0;
}

.footer {
  color: black;
  text-align: center;
  padding-bottom: 1em;
}