* {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 100;
}

body {
  padding-top: 50px;
}

button {
  height: 50px;
  width: 50px;
  font-size: 1.5em;
  background-color: #d8d9db;
  border: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  /* float: left; */
  border-radius: 50%;
  margin: 2px
}

.btn_special {
    background-color: rgb(185, 177, 161)
}

#reset {
    font-size: 130%;
}

.btn_operator {
    background-color: #e78814;
    color: #fff;
}

.btn_equals {
  background-color: #e78814;
  color: #fff;
}

.btn_decimal {
    margin-left: 3px;
}

.btn_zero {
    width: 97%;
    border-radius: 100px
}

